In [1]:
import seaborn as sns 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

C:\Users\Omar\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
# #header=['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig', 'nameDest', 'oldbalanceDest', 
#         'newbalanceDest', 'isFraud']
data= pd.read_csv("PS_20174392719_1491204439457_log.csv")
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [3]:
data_sampled= data.sample(n=70000)

In [4]:
data_sampled['isFraud'].value_counts()/data_sampled['isFraud'].size

0    0.998714
1    0.001286
Name: isFraud, dtype: float64

In [5]:
data_sampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 4197056 to 2722106
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            70000 non-null  int64
 1   type            70000 non-null  object
 2   amount          70000 non-null  float64
 3   nameOrig        70000 non-null  object
 4   oldbalanceOrg   70000 non-null  float64
 5   newbalanceOrig  70000 non-null  float64
 6   nameDest        70000 non-null  object
 7   oldbalanceDest  70000 non-null  float64
 8   newbalanceDest  70000 non-null  float64
 9   isFraud         70000 non-null  int64
 10  isFlaggedFraud  70000 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 6.4+ MB

In [6]:
data_sampled.isnull().mean()

step              0.0
type              0.0
amount            0.0
nameOrig          0.0
oldbalanceOrg     0.0
newbalanceOrig    0.0
nameDest          0.0
oldbalanceDest    0.0
newbalanceDest    0.0
isFraud           0.0
isFlaggedFraud    0.0
dtype: float64

In [7]:
#no missing data

data_sampled['type'].value_counts()

CASH_OUT    24829
PAYMENT     23368
CASH_IN     15495
TRANSFER     5857
DEBIT         451
Name: type, dtype: int64

In [8]:

#now we do one hot encoding for type column
type_new = pd.get_dummies(data_sampled['type'],drop_first=True)
data_sampled = pd.concat([data_sampled,type_new],axis=1)
data_sampled.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CASH_OUT,DEBIT,PAYMENT,TRANSFER
4197056,305,CASH_OUT,133908.92,C1544890414,1392.00,0.00,C1167839972,393829.94,527738.86,0,0,1,0,0,0
44165,9,PAYMENT,15815.73,C228488418,0.00,0.00,M1569100709,0.00,0.00,0,0,0,0,1,0
6073953,514,CASH_IN,224982.68,C685855104,9139287.04,9364269.72,C480968146,1518634.08,1293651.41,0,0,0,0,0,0
5835578,402,CASH_IN,90952.79,C825714290,18020087.39,18111040.18,C888578804,167904.18,76951.39,0,0,0,0,0,0
1505339,143,PAYMENT,8291.50,C80461158,11839.00,3547.50,M1199215257,0.00,0.00,0,0,0,0,1,0

In [9]:
len(data_sampled['nameOrig'].unique())

70000

In [10]:
len(data_sampled['nameDest'].unique())

66356

In [11]:
data_sampled['nameDest_sub'] =data_sampled.nameDest.str.slice(0, 1)
data_sampled.groupby('nameDest_sub')['isFraud'].sum()

nameDest_sub
C    90
M     0
Name: isFraud, dtype: int64

In [12]:
type_new = pd.get_dummies(data_sampled['nameDest_sub'],drop_first=True)
data_sampled = pd.concat([data_sampled,type_new],axis=1)
data_sampled.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CASH_OUT,DEBIT,PAYMENT,TRANSFER,nameDest_sub,M
4197056,305,CASH_OUT,133908.92,C1544890414,1392.00,0.00,C1167839972,393829.94,527738.86,0,0,1,0,0,0,C,0
44165,9,PAYMENT,15815.73,C228488418,0.00,0.00,M1569100709,0.00,0.00,0,0,0,0,1,0,M,1
6073953,514,CASH_IN,224982.68,C685855104,9139287.04,9364269.72,C480968146,1518634.08,1293651.41,0,0,0,0,0,0,C,0
5835578,402,CASH_IN,90952.79,C825714290,18020087.39,18111040.18,C888578804,167904.18,76951.39,0,0,0,0,0,0,C,0
1505339,143,PAYMENT,8291.50,C80461158,11839.00,3547.50,M1199215257,0.00,0.00,0,0,0,0,1,0,M,1

In [13]:
# for nameOrig nearly every row has a unique value so we can remove these columns before using our model
# while for nameDest_sub all frauds have C value 
data_for_model= data_sampled[['step','CASH_OUT','DEBIT','PAYMENT','TRANSFER','amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','M','newbalanceDest','isFlaggedFraud']]

Y= data_sampled['isFraud']

In [14]:
data_for_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 4197056 to 2722106
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            70000 non-null  int64
 1   CASH_OUT        70000 non-null  uint8
 2   DEBIT           70000 non-null  uint8
 3   PAYMENT         70000 non-null  uint8
 4   TRANSFER        70000 non-null  uint8
 5   amount          70000 non-null  float64
 6   oldbalanceOrg   70000 non-null  float64
 7   newbalanceOrig  70000 non-null  float64
 8   oldbalanceDest  70000 non-null  float64
 9   M               70000 non-null  uint8
 10  newbalanceDest  70000 non-null  float64
 11  isFlaggedFraud  70000 non-null  int64
dtypes: float64(5), int64(2), uint8(5)
memory usage: 4.6 MB

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_for_model,
                                                    Y,
                                                    test_size=0.3,
                                                    random_state=0)

# Get dimensions of X_train and X_test
X_train.shape,X_test.shape

((49000, 12), (21000, 12))

In [16]:
from sklearn.model_selection import cross_validate
def cross_validation(model, _X, _y, _cv):
      
#       model: Python Class, default=None
#               This is the machine learning algorithm to be used for training.
#       _X: array
#            This is the matrix of features.
#       _y: array
#            This is the target variable.
#       _cv: int, default=5
#           Determines the number of folds for cross-validation.
#        Returns
#        -------
#        The function returns a dictionary containing the metrics 'accuracy', 'precision',
#        'recall', 'f1' for both training set and validation set.
#       '''
      
        results = cross_validate(estimator=model,X=_X,y=_y,cv=_cv,scoring=['accuracy', 'recall'],return_train_score=True)
        return results['train_accuracy'].mean()*100

In [17]:
from sklearn import svm
from sklearn import metrics

kernels= [ 'poly', 'rbf', 'sigmoid']
C_values=[0.00001,0.0001,0.001,0.01,0.1,1]
max_acc=0
kernel_maxacc=""
kernel_polyDegree=0
accuracy=[]
best_c_value=0
for i in kernels:
    if i == 'poly':
        for j in range(1,10):
            for c in C_values:
                clf = svm.SVC(C=c,kernel=i,degree=j)
                acc = cross_validation(clf, X_train, y_train, 3)

                if (acc> max_acc):
                    max_acc=acc
                    kernel_maxacc=i
                    kernel_polyDegree=j
                    best_c_value=c
                
            

            accuracy.append(acc)
    else:
        for c in C_values:
            clf = svm.SVC(C=c,kernel=i)
            acc = cross_validation(clf, X_train, y_train, 3)



            if (acc> max_acc):
                max_acc=acc
                kernel_maxacc=i
                best_c_value=c

            accuracy.append(acc)

In [18]:
accuracy

[99.898979623053,
 99.9010204497924,
 99.89795916282735,
 99.89795916282735,
 99.89795916282735,
 99.89795916282735,
 99.89795916282735,
 99.89795916282735,
 99.89795916282735,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.91224488752847,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.87346939814118,
 99.80816325485374]

In [22]:
print("Kernel with best accuracy: "+ kernel_maxacc + " With accuracy: "+str(max_acc))
print("Regularization parameter C with best accuracy: " + str(best_c_value))
if kernel_maxacc== 'poly':
    print("degree in poly with best accuracy: "+ str(kernel_polyDegree))

Kernel with best accuracy: rbf With accuracy: 99.91224488752847
Regularization parameter C with best accuracy: 1

In [23]:
#using the test data with best parameters

clf = svm.SVC(C=1.0,kernel='rbf')
clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)



print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9990476190476191